/* FOR SIDE BAR IN ADMIN PANNEL */
.Admin-sidebar {
    width: 200px;
    background-color: #dbdbd4;
    color: white;
    padding: 10px;
    height: 650px;
  }
  
  .Admin-sidebar-button {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: background-color 0.3s;
    /* font-family: Poppins; */
    font-size: larger;
  }
  
  .Admin-sidebar-button:hover {
    background-color: white;
  }
  
  .Admin-sidebar-button:focus {
    background-color: white;
  }

  .Admin-signout-button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Admin-signout-button:hover {
    background-color: #333;
  }
  
  /* FOR SIDE BAR IN ADMIN PANNEL */

  /* TEXT BOX */

  .text-box-Admin {
 
    top: 100px;   position: fixed;
    left: 255px;
    width: 1155px;
    height: 1111px;
    max-width: calc(100% - 200px); 
    max-height: calc(100% - 130px);     
    background-color: #fff; /* White background color, adjust as needed */
    border-radius: 10px; /* Rounded corners, adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow, adjust as needed */
    padding: 20px; /* Add padding inside the text box */
    overflow: auto; /* Add scroll if needed */
    color: black;
  }
